{% extends "base.html" %}

{% block title %}
{{ SITENAME }}
{% endblock %}

{% block header %}
<header>
  <a href="#" class="title-anchor">Marsbot</a>
  <h1>Creaciones digitales fuera de este mundo</h1>
  <ul>
    <li>3D Makers</li>
    <li>Movimiento Vital</li>
    <li>Grupo Lava</li>
    <li>Ballet Folklorico de Puebla</li>
  </ul>
  <p>Te acompañamos con<br /><strong>todos nuestros conocimientos de marketing</strong></p>
</header>
{% endblock %}

{% block content %}
<main>
  <section id="strategy-and-ux">
    <h2>Estrategia & UX</h2>
  </section>
  <section id="content">
    <h2>Contenido</h2>
  </section>
  <section id="social-media">
    <h2>Social Media</h2>
  </section>
  <section id="e-commerce">
    <h2>E-Commerce</h2>
  </section>
</main>
{% endblock %}
