* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 100%;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

a,
a:hover,
a:focus,
a.focus {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

a:active,
a.active {
  outline: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Oxygen','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

header {
  height: 100vh;
  min-height: 600px;
  text-align: center;
  padding: 2em;
  position: relative;
}

header a {
  font-weight: 700;
  font-size: 2em;
}

header h1 {
  padding: 20vh 0;
  font-weight: 700;
  margin: auto;
}

@media (min-width: 42.65em) {
  header h1 {
    width: 60%;
  }
}

@media (max-height: 30em) {
  header h1 {
    padding: 3em 0;
  }
}

header ul {
  padding: 0;
}
header ul li {
  display: inline-block;
  padding: 0 15px 0 10px;
}

header p {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.85em;
}

header p:before {
  content: '\2193';
  position: absolute;
  top: -1.5em;
  left: 50%;
  font-size: 2.5em;
}

main {
  color: #fff;
}

main section {
  background-color: #222;
  min-height: 250px;
  text-align: center;
  position: relative;
}

main section h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

@media (min-width: 42.65em) {
  main section {
    height: 100vh;
  }
}

#strategy-and-ux {
  background: url('images/flatbg.jpg') center center / cover;
}

#content {
  background: url('images/pen-white.jpg') center center / cover;
}

#social-media {
  background: url('images/social-media.jpg') center center / cover;
}

#e-commerce {
  background: url('images/e-commerce.jpg') center center / cover;
}
